<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>task</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="main.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="eventDetails.js" defer></script>

</head>

<body>
    <nav>
        <ul id="menu">
            <li><a href="home.html"><img src="images.png" alt="EZ logo" id="logo"></a></li>
            <li><div class="headerButton"><a href="#">LOG IN</a></div></li>
            <li><div class="headerButton"><a href="#">SIGN UP</a></div></li>
            <li><div class="headerButton"><a href="#">ACCOUNT</a></div></li>
            <li><div class="headerButton"><a href="#">+ NEW EVENT</a></div></li>
        </ul>
    </nav>
    <main id="account">
    <h3 class="eventHeading">
    <span>EVENT NAME</span>
    <button type="button" class="share">SHARE</button>
    </h3>


        <table>
        <tr class="titleBox">
            <th>&nbsp;</th>
            <th v-bind:colspan="month.dates" v-for="month in months" id="month">{{month.name}}</th>
        </tr>
        <tr class="titleBox">
            <th>&nbsp;</th>
            <th v-for="date in dates">{{date}}</th>
        </tr>
        <tr id="you">
            <td class="name"><input type="text" value="entername" v-model="name" class="nameInput" ></td>
            <td v-for="(current,index) in currentSelected">
                <img src="greenTick.png" alt="tick" id="tick" v-if="currentSelected[index]" v-on:click="changef(index)">
                <button type="button" v-on:click="changet(index)" v-else></button>

             </td>
        </tr>
        <tr v-for="sname in other">
            <td class="name">{{sname.name}}</td>
            <td v-for="sdate in sname.selected"><img src="greenTick.png" alt="tick" id="tick" v-if="sdate"></td>
        </tr>
        <button type="button" class="submitButton">
                Done
        </button>
</main>
</body>