* {
    box-sizing: border-box;
  }

  body{
    color: #333533;
    background-color: #FFFFFF;
    padding: 0;
    margin: 2em;
    font-family: 'Montserrat', sans-serif;
  }

  #logo{
      width: 5em;
      height: auto;
  }

  .headerButton{
    float:right;
    background-color: #CCE7D9;
    border-radius: 0.3em;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.5em;
    margin: 1%;
  }

  .submitButton{
    float:right;
    background-color: #FFBEC2;
    border-radius: 0.3em;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.5em;
    margin: 1%;
  }

  #menu{
    list-style:none;
  }

  #menu a{
    text-decoration: none;
    color: #000000;
  }

  .pageHeading{
    margin: 1% 5%;
  }

  .titleBox{
      margin: 0% 5%;
      background-color:#D9C0D7  !important;
  }

  .boxHeading{
    margin: 1em;
    margin-bottom: 0em;
  }

  .inputBox{
      margin: 1em;
      margin-bottom: 2em;
      width: 95%;
      height: auto;
      border-radius: 0.5em;
  }

  .leftFloat{
      margin: 2% 2.5% 2% 5%;
      float: left;
      width: 42%;
      height: 30em;
      background-color: lightgray;
  }

  .rightFloat{
      margin: 2% 5% 2% 2.5%;
      float: right;
      width: 42%;
      height: 30em;
      background-color: lightgray;
  }


  .share{
    float:right;
    text-decoration: underline;
    background-color: #FFBEC2;
  }

  .eventHeading{
    display: flex;
    justify-content: space-between;
    margin: 7% 15% 3%;
  }

  table {
    margin: 1% 15%;
    width:70%;
    text-align:center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#tick{
  width: 2em;
  height: auto;
}

.name {
  text-align:left;
  padding: 16px;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

.headerButton:hover{
  background-color: #47CACC;
}

.share:hover, .submitButton:hover {
  background-color: #CB8A90;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color:#964F87
}

#yourTick{
  width: 2em;
  height: auto;
  display: none;
}

#toggleTick{
  width: 100%;
  box-sizing: border-box;
  border: 0;
}

#month{
  border-right: 4px dotted blue;
}