h1 {
    font-family:sans-serif;
}

h2 {
    font-family:sans-serif;
    text-align: left;
}

h3 {
    color:rgba(0,0,139,0.8);
}

p {
    font-family:serif;
}

pre {
    font-family:monospace;
}

a {
    color:green;
}

del {
    color:grey;
}

mark {
    background-color:pink;
    color:darkblue;
}

.transparent-text {
    color:rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("cross.png");
    background-color: #DCF5F5;
}

#content {
    background-color: white;
    border-radius: 8px;
    border: 1px solid darkgrey;
}

.blue {
    color:blue;
}

.fancy {
    font-family: cursive;
}

hr {
    border-color:#CFDFE4;
}

.red-border {
    border: 1px solid red;
}

.red-outline {
    outline-style:solid;
    outline-color:red;
    outline-width:1px;
}

.blue-border {
    border: 1px solid blue;
}

.red-border-edit {
    border-radius: 8px 8px 1px 1px;
    border: 1px solid red;
    border-bottom: none;
}

.blue-border-edit {
    border-radius: 1px 1px 8px 8px;
    border: 1px solid blue;
}

.top-blue {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

.top-yellow {
    width: 700px;
    height: 200px;
    padding: 12px;
    border: 1px solid red;
    margin: 10px 20px;
    text-align:right;
  }

  .bot-blue {
    padding: 0;
    margin: 20px 0px 0px 0px;
    border: 1px solid red;
}

.bot-yellow {
    width: 400px;
    height: 400px;
    padding: 12px;
    border: 1px solid red;
    margin: 10px 20px;
    margin-left: -200px;
    text-align:right;
  }